<a href="https://colab.research.google.com/github/escuelaDeCodigoMargaritaMaza/Python/blob/main/CuadernoTrabajo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Me gusta \" Python \" ")

Me gusta " Python "

In [ ]:
print("Me gusta \t Monty Python ")

Me gusta 	 Monty Python

In [ ]:
print("Me gusta \n Monty Python ")

Me gusta
 Monty Python

In [ ]:
multilinea = """Datos de contrucción:
Rangos de error.
Datos a validar"""
print(multilinea)

Datos de contrucción:
Rangos de error.
Datos a validar

In [ ]:
nombre = 'PILARES'
print(f'En los diferentes centros {nombre} podrás encontrar diversas opciones')

En los diferentes centros PILARES podrás encontrar diversas opciones

In [ ]:
nombre = 'PILARES'
taller = 'Escuela de Código'
ciudad = 'CDMX'
print(f'En los centros {nombre}, puedes encontrar la {taller}\n ... exiten 140 {nombre} en donde se oferta el taller en toda la {ciudad}')

En los centros PILARES, puedes encontrar la Escuela de Código
 ... exiten 140 PILARES en donde se oferta el taller en toda la CDMX

In [ ]:
print("*" * 15)

***************

# Ejercicio

![image.png]()

In [ ]:
#Exponente
print(2 ** 3)
print(2. ** 3)

8
8.0

In [ ]:
#multiplicacion
print(2 * 3)
print(2.0 * 3)

In [ ]:
#diviion
print(6 / 3)
print(6. / 3)

2.0
2.0

In [ ]:
#division de piso
print(6 // 3)
print(6. // 3)

2
2.0

In [ ]:
#residuo
print(14 % 4)
print(14.0 % 4)

2
2.0

In [ ]:
print(2 ** 2 ** 3)

256

In [ ]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

In [ ]:
print("Dime lo que sea...")
loquesea = input()
print("Hmm...", loquesea, "... ¿en serio?")

Dime lo que sea...
kjhkjh
Hmm... kjhkjh ... ¿en serio?

In [ ]:
dime=input("Dime lo que sea...")
print("Hmm...", dime, "... ¿en serio?")

Dime lo que sea...fdfs
Hmm... fdfs ... ¿en serio?

In [ ]:
numero = input("Ingresa un número:")
cuadrado = numero ** 2.0
print(numero, "al cuadrado es", cuadrado)

Ingresa un número:5

TypeError: ignored

In [ ]:
numero = int(input("Ingresa un número:"))
cuadrado = numero ** 2
print(numero, "al cuadrado es", cuadrado)

In [ ]:
fnam = input("¿Me puedes dar tu nombre por favor? ")
lnam = input("¿Me puedes dar tu apellido por favor? ")
print("Gracias. ")
print("\nTu nombre es " + fnam + " " + lnam + ".")

¿Me puedes dar tu nombre por favor? asd
¿Me puedes dar tu apellido por favor? asdsad
Gracias.

Tu nombre es asd asdsad.

In [ ]:
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

In [ ]:
paises = ['Canada', 'EU', 'México', 'Guatemala', 'Belice', 'Honduras', 'El Salvador', 'Micaragua']

In [ ]:
print('El primer país es', paises[0])
print('El segundo país es', paises[1])
print('El tercer país es', paises[2])
print('El tercer país es', paises[15])

In [ ]:
paises[1] = 'América'
print('Eu es mal llamado también', paises[1])

In [ ]:
numero_de_paises = len(paises)
print('Hay', numero_de_paises, 'paises en la lista')

Hay 8 paises en la lista

In [ ]:
paises.append('Panama')
numero_de_paises = len(paises)
print('Ahora la lista de paises es de ', numero_de_paises, 'paises.')

In [ ]:
paises.pop()
numero_de_paises = len(paises)
print('Ahora la lista de paises vuelve a ser de' , numero_de_paises, 'paises.')
paises

In [ ]:
print('El último país es ', paises[-1])
print('El penúltimo país es ', paises[-2])

In [ ]:
mex_index = paises.index('México')
print('México es el', mex_index + 1, 'er pais de la lista')

México es el 3 er pais de la lista

In [ ]:
poblacion = [37.8, 330.6, 127.1, 16.9, 0.4, 9.2, 6.7, 6.5]

In [ ]:
print(f'el total de población de todos los paises es {sum(poblacion)} ')

In [ ]:
print('En',paises[2],' Hay ',abs(poblacion[0]-poblacion[2]),'millones mas habitantes que en ',paises[0])

En México  Hay  89.3 millones mas habitantes que en  Canada

In [ ]:
print('El mayor número de habitantes de la lista es ',max(poblacion))
print('El menor número de habitantes de la lista es ',min(poblacion))

In [ ]:
paises = ['Canada', 'EU', 'México', 'Guatemala', 'Belice', 'Honduras', 'El Salvador', 'Micaragua']
paises_antes_de_mexico = paises[0:2]
print(paises_antes_de_mexico)

['Canada', 'EU']

In [ ]:
paises_despues_de_mexico = paises[3:8]
print(paises_despues_de_mexico)

['Guatemala', 'Belice', 'Honduras', 'El Salvador', 'Micaragua']

In [ ]:
paises_despues_de_mexico = paises[3:]
print(paises_despues_de_mexico)

['Guatemala', 'Belice', 'Honduras', 'El Salvador', 'Micaragua']

In [ ]:
paises_norte = ['Canada', 'EU', 'México']
paises_centro = ['Guatemala', 'Belice', 'Honduras', 'El Salvador', 'Micaragua']
lista_unida = paises_norte  + paises_centro
print(lista_unida)

['Canada', 'EU', 'México', 'Guatemala', 'Belice', 'Honduras', 'El Salvador', 'Micaragua']

In [ ]:
lista_unida.sort()
print('La lista ordenada quedaría ', lista_unida)

In [ ]:
lista_unida.sort(reverse=True)
print('La lista ordenada quedaría ', lista_unida)

# EJERCICIO

Vamos a crear y manipular una lista que contiene nombres de alumnos, esta lista contedrá los nombres siguientes: 'Juan','Pedro','Beatriz','Angel','Miguel','Paz'

A continuación, agrega el código para solicitar al usuario un nombre. Debido a que las cadenas distinguen entre mayúsculas y minúsculas en Python, píde al usuario que use una letra mayúscula para comenzar el nombre del alumno, ingresa tú nombre y agregalo a lista

A continuación, agrega el código para solicitar al usuario un nombre a buscar, igresa tu nombre.

Solicitar dos números e imprimir el resultado de las 4 operaciones básicas

preparar un código simple para evaluar o encontrar el tiempo final de un periodo de tiempo dado, expresándolo en horas y minutos.

In [ ]:
alumno = {
    'nombre':'Juan',
    'calificacion': 7
}

In [ ]:
print(alumno.get('nombre'))

In [ ]:
# alumno['nombre'] es idéntico a usar alumno.get('nombre')
print(alumno['nombre'])

In [ ]:
#modificar valores de un diccionario
alumno.update({'nombre': 'Beatriz'})
print(alumno)

In [ ]:
alumno['nombre'] = 'Angel'
print(alumno)

In [ ]:
#Adicionar claves
alumno['apellido'] = 'Pérez'
print(alumno)

# el diccionario alumno ahora contiene: {
#   nombre: 'Miguel'
#   calificcion: 9
#   apellido: Pérez
# }

In [ ]:
#eliminar claves
alumno.pop('apellido')
print(alumno)

In [ ]:
#los diccionarios pueden almacenar a otros diccionarios

# Añadimos los datos
alumno['periodo'] = {
    'periodo1': 8,
    'periodo2': 9
}

print(alumno)

Para este ejercicio, crearás un diccionario que almacene información sobre paises y su población.

Agrega el código para crear un nuevo diccionario denominado 'paises'. Rellena con la siguiente información:

pais: México

habitantes: 127.5 millones

imprime el diccionarios usando string f con la información del diccionario

Agrega un nuevo valor con una clave de 'datos'. Este nuevo valor debería almacenar un diccionario con dos datos del país:

idioma: 'español'

moneda: 'peso'

In [ ]:
import random

numero= random.randint(0, 5)

numero

0

In [ ]:
lista = [2, 190, False, "hola", "pelota", 123]
alea=random.choice(lista)
alea

2

In [ ]:
lista=[]
lista.append(random.randint(0,10))
lista.append(random.randint(0,10))
lista.append(random.randint(0,10))
lista.append(random.randint(0,10))
lista

[8, 6, 4, 9]

In [ ]:
2 == 2

In [ ]:
'2' == 2

In [ ]:
var = 0
var != 0

In [ ]:
5 >= 5.0

In [ ]:
n = int(input("Ingresa un número: "))
print(n > 100)

In [ ]:
a = 97
b = 55
if a < b:
    print(b)

In [ ]:
a = 54
b = 44
if a <= 0:
    print(b)
print(a)

In [ ]:
a = 3
b = 27
if a >= b:
    print(a)
else:
    print(b)

In [ ]:
a = 93
b = 93
if a > b:
    print("a es mayor que b")
elif a == b:
    print("a es igual que b")

In [ ]:
lenguaje = input("Introduce el nombre del lenguaje: ")

if lenguaje == "PYTHON":
    print("Si, ¡El Python es el mejor lenguaje de todos los tiempos!")
elif lenguaje == "python":
    print("No, ¡quiero un gran PYTHON!")
else:
    print("PYTHON!, ¡No", lenguaje + "!")

### Ejercicio
solicitar tres números e imprimir cual es el más grande

### Ejercicio
Solicitar por consola 3 números y mostrarlos impresos de menor a mayor

In [ ]:
a = 23
b = 34
if a == 34 or b == 34:
    print('ok')

In [ ]:
a = 23
b = 34
if a == 34 and b == 34:
    print ('ok')

### Ejercicio
Como seguramente sabrás, debido a algunas razones astronómicas, el año puede ser bisiesto o común. Los primeros tienen una duración de 366 días, mientras que los últimos tienen una duración de 365 días.

Desde la introducción del calendario Gregoriano (en 1582), se utiliza la siguiente regla para determinar el tipo de año:

si el número del año no es divisible entre cuatro, es un año común.
de lo contrario, si el número del año no es divisible entre 100, es un año bisiesto.
de lo contrario, si el número del año no es divisible entre 400, es un año común.
de lo contrario, es un año bisiesto.

In [ ]:
year = int(input("Introduce un año: "))

if year < 1582:
	print("No esta dentro del período del calendario Gregoriano")
else:
	if year % 4 != 0:
		print("Año Común")
	elif year % 100 != 0:
		print("Año Bisiesto")
	elif year % 400 != 0:
		print("Año Común")
	else:
		print("Año Bisiesto")

In [ ]:
#while
i = 0
while i < 100:
    i += 1
    print(i)

In [ ]:
import time   #libreria para manejar tiempo

numero_par = 0
numero_impar = 0

# Lee el primer número.
numero = int(input("Introduce un número o escribe 0 para detener: "))

# 0 termina la ejecución.
while numero != 0:
    # Verificar si el número es impar.
    if numero % 2 == 1:
        # Incrementar el contador de números impares odd_numbers.
        numero_impar += 1
    else:
        # Incrementar el contador de números pares even_numbers.
        numero_par += 1
    # Leer el siguiente número.
    numero = int(input("Introduce un número o escribe 0 para detener: "))

# Imprimir resultados.
print("Conteo de números impares:", numero_impar)
time.sleep(5)
print("Conteo de números pares:", numero_par)

In [ ]:
#bucle infinito y while true
while True:
    print("Estoy atrapado dentro de un bucle.")

In [ ]:
while True:
    print("Estoy atrapado dentro de un bucle.")
    break

## Ejercicio
Realizar el juego adivina el número

In [ ]:
for i in range(8):
    print(i)

In [ ]:
for i in range(2, 8):
    print(i)

In [ ]:
for i in range(0,30,3):  #rango
    print(i)

Nota: el conjunto generado por range() debe ordenarse en un orden ascendente. No hay forma de forzar el range() para crear un conjunto en una forma diferente. Esto significa que el segundo argumento de range() debe ser mayor que el primero.

In [ ]:
#for con listas
paises = ['Canada', 'EU', 'México', 'Guatemala', 'Belice', 'Honduras', 'El Salvador', 'Micaragua']
for pais in paises:
  print(pais)

In [ ]:
conteo = [4, 3, 2, 1, 0]
for numero in conteo:
    print(numero)
    time.sleep(2)

print("SALIDA!!")

In [ ]:
#break
print("La instrucción break:")
for i in range(1, 6):
    if i == 3:
        break
    print(i)

In [ ]:
#continue
print("\nLa instrucción continue:")
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

In [ ]:
numero_grande = 0

while True:
    numero = int(input("Ingresa un número o escribe 0 para finalizar el programa: "))
    if numero == 0:
        break
    if numero > numero_grande:
        numero_grande = numero


print("El número más grande es", numero_grande)

In [ ]:
numero_grande = 0

numero = int(input("Ingresa un número o escribe 0 para finalizar el programa: "))

while numero != 0:
    if numero == 0:
        continue

    if numero > numero_grande:
        numero_grande = numero
    numero = int(input("Ingresa un número o escribe 0 para finalizar el programa: "))


print("El número más grande es", numero_grande)

1
Tu tarea aquí es muy especial: ¡Debes diseñar un devorador de vocales! Escribe un programa que use:

un bucle for;
* el concepto de ejecución condicional (if-elif-else).
* la sentencia continue.
Tu programa debe:

* pedir al usuario que ingrese una palabra.
* utiliza la ejecución condicional y la instrucción continue para "devorar" las siguientes vocales A, E, I, O, U de la palabra ingresada.
* imprime las letras no consumidas en la pantalla, cada una de ellas en una línea separada

2 Crea un bucle for que cuente de 0 a 10, e imprima números impares en la pantalla.

3 Crea un programa con un bucle for y una sentencia break. El programa debe iterar sobre los caracteres en una dirección de correo electrónico, salir del bucle cuando llegue al símbolo @ e imprimir la parte antes de @ en una línea.

# POO
https://docs.google.com/presentation/d/17GdWdk_hdPkQEr9CPAkV1JcscTy22Z8I246_8AraV3A/edit?usp=sharing

In [ ]:
class Usuario():
    def __init__ (self,nombre,folio,telefono,correo):
      self.nombre=nombre
      self.folio= folio
      self.telefono = telefono
      self.correo = correo

In [ ]:
#Instanciar un usuario
usuario1=Usuario('juan','1212','2323232332','juan@correo.com')

In [ ]:
usuario2=Usuario('pedro','cdcc343','77464755','pedro@correo.com')

In [ ]:
#acceder al nombre
usuario2.nombre

In [ ]:
#modificando el nombre
usuario2.nombre='carlos'
usuario2.nombre

In [ ]:
#accede a los datos de usario1

In [ ]:
#agregando solo a usuario 1 una ubicación
usuario1.ubicacion='CDMX'

In [ ]:
print('la ubicacion del usuario es ',usuario1.ubicacion)

clase con método

In [ ]:
class Usuario():
  def __init__ (self,nombre,folio,telefono,correo):
    self.nombre=nombre
    self.folio= folio
    self.telefono = telefono
    self.correo = correo
    self.talleres =[]

  def mostar_usuario(self):
    return f'''    nombre : {self.nombre}
    folio: {self.folio}
    telefono: {self.telefono}
    correo: {self.correo}'''

In [ ]:
usuario3=Usuario('juan','1212','2323232332','juan@correo.com')
usuario3.mostar_usuario()

('juan', '1212')

In [ ]:
class Usuario():
  def __init__ (self,nombre,folio,telefono,correo):
    self.nombre=nombre
    self.folio= folio
    self.telefono = telefono
    self.correo = correo
    self.talleres =[]

  def mostar_usuario(self):
    return f'''    nombre : {self.nombre}
    folio: {self.folio}
    telefono: {self.telefono}
    correo: {self.correo}'''

  def modificar_usuario(self):
    self.nombre = input(f'ingresa el nuevo nombre a cambiar por {self.nombre}')
    self.folio = input(f'ingresa el nuevo folio a cambiar por {self.folio}')
    self.telefono = input(f'ingresa el nuevo telefono a cambiar por {self.telefono}')
    self.correo = input(f'ingresa el nuevo correo a cambiar por {self.correo}')

In [ ]:
usuario3=Usuario('juan','1212','2323232332','juan@correo.com')
usuario3.modificar_usuario()

In [ ]:
class Usuario():
  def __init__ (self,nombre,folio,telefono,correo):
    self.nombre=nombre
    self.folio= folio
    self.telefono = telefono
    self.correo = correo
    self.talleres =[]

  def mostar_usuario(self):
    print(f'''nombre : {self.nombre}
          folio: {self.folio}
          telefono: {self.telefono}
          correo: {self.correo}''')

  def modificar_usuario(self):
    self.nombre = input(f'ingresa el nuevo nombre a cambiar por {self.nombre}')
    self.folio = input(f'ingresa el nuevo folio a cambiar por {self.folio}')
    self.telefono = input(f'ingresa el nuevo telefono a cambiar por {self.telefono}')
    self.correo = input(f'ingresa el nuevo correo a cambiar por {self.correo}')

  def checar_taller(self,taller):
    if (taller in self.talleres):
      return f'el usuario {self.nombre} si esta inscrito en el talller de {taller}'
    else:
      return f'el usuario no esta en el taller'

In [ ]:
usuario1=Usuario('david','jnjnc','njnc','ccjdcn')
usuario1.talleres.append('huertos')

In [ ]:
usuario1.talleres=['codigo','ajedrez','huertos']
usuario1.talleres

['codigo', 'ajedrez', 'huertos']

In [ ]:
usuario1.checar_taller('CORTE')

'el usuario no esta en el taller'

#HERENCIA

In [ ]:
class Usuario():
  def __init__ (self,nombre,folio,telefono,correo):
    self.nombre=nombre
    self.folio= folio
    self.telefono = telefono
    self.correo = correo
    self.talleres =[]

  def mostar_usuario(self):
    print(f'''nombre : {self.nombre}
          folio: {self.folio}
          telefono: {self.telefono}
          correo: {self.correo}''')

  def modificar_usuario(self):
    self.nombre = input(f'ingresa el nuevo nombre a cambiar por {self.nombre}')
    self.folio = input(f'ingresa el nuevo folio a cambiar por {self.folio}')
    self.telefono = input(f'ingresa el nuevo telefono a cambiar por {self.telefono}')
    self.correo = input(f'ingresa el nuevo correo a cambiar por {self.correo}')

  def checar_taller(self,taller):
    return taller in self.talleres

class Usuario_menor(Usuario):
  def __init__(self,nombre,folio,telefono,correo,tutor):
    self.tutor=tutor
    super().__init__(nombre,folio,telefono,correo)

In [ ]:
usuario_menor1=Usuario_menor('juan','1212','2323232332','juan@correo.com','pedro')
usuario_menor1.tutor

In [ ]:
usuario_menor1.nombre

In [ ]:
usuario_menor1.talleres=['pintura','robotica']
usuario_menor1.checar_taller('huertos')

###OTRO EJEMPLO

In [ ]:
class Empleado():
    def __init__(self, nombre, puesto, sueldo):
        self.nombre=nombre
        self.puesto=puesto
        self.sueldoBruto=sueldo

    def calcularSueldo(self, descuentos):
        return self.sueldoBruto-descuentos

class Gerente(Empleado): #esta clase es hija de la superclase Empleado, pero su metodo calcularSueldo pide parámetros distintos a la super
    def calcularSueldo(self, descuentos, bonificaciones):
        return self.sueldoBruto-descuentos+bonificaciones

marcos=Empleado("Marcos Ríos", 'chofer', 6000) #este es el objeto marcos
julia=Gerente("Julia Campos", 'gerente', 20000) #este es el objeto de la clase gerente con los mismos atributos

print(marcos.calcularSueldo(3000)) #solo requiere de un atributo

print(julia.calcularSueldo(1000, 2000))

#ENCAPSULAMIENTO

In [ ]:
class Usuario:
  def __init__ (self,nombre,folio,telefono,correo):
    self._nombre=nombre   #este guion  indicara esta protegido Lo cual establece que solo puede ser accedido por esa clase y sus sub-clases
    self.folio= folio
    self.telefono = telefono
    self.correo = correo
    self.talleres =[]

usuario6=Usuario('daniel','dfds','554875485','danielcorreo@correo.com')
usuario6.nombre  #error

In [ ]:
usuario6._nombre

In [ ]:
class Usuario:
  def __init__ (self,nombre,folio,telefono,correo):
    self.__nombre=nombre   #este guion doble indicara que es privado solo podrá ser accedido o modificado si se especifica la clase precedida por un guión bajo seguida del atributo precedido por doble guión bajo.
    self.folio= folio
    self.telefono = telefono
    self.correo = correo
    self.talleres =[]

usuario7=Usuario('daniel','dfds','554875485','danielcorreo@correo.com')
usuario7.__nombre  #error

In [ ]:
usuario7._Usuario__nombre

In [ ]:
class Usuario:
  def __init__ (self,nombre,folio,telefono,correo):
    self.__nombre=nombre
    self.folio= folio
    self.telefono = telefono
    self.correo = correo
    self.talleres =[]

  @property
  def nombre(self):
    return self.__nombre


  @nombre.setter #Propiedad SETTER
  def nombre(self, nuevo):
      print ("Modificando nombre..")
      self.__nombre = nuevo
      print ("El nombre se ha modificado por")
      print (self.__nombre) #Aquí vuelvo a pedir que retorne el atributo para confirmar

In [ ]:
usuario7=Usuario('daniel','dfds','554875485','danielcorreo@correo.com')
usuario7.nombre='pedro'
usuario7.nombre

###OTRO EJEMPLO

In [ ]:
class Usuario:
  def __init__ (self,nombre,folio,telefono,correo):
    self.__nombre=nombre
    self.__folio= folio
    self.__telefono = telefono
    self.__correo = correo

  @property
  def nombre(self):
    return self.__nombre

  @nombre.setter #Propiedad SETTER
  def nombre(self, nuevo):
    self.__nombre=nuevo
    return self.__nombre

  @property
  def folio(self):
    return self.__folio

  @folio.setter #Propiedad SETTER
  def folio(self, nuevofolio):
    self.__folio=nuevofolio
    return self.__folio

  @property
  def telefono(self):
    return self.__telefono

  @telefono.setter #Propiedad SETTER
  def telefono(self, nuevotelefono):
    self.__telefono=nuevotelefono
    return self.__telefono

  @property
  def correo(self):
    return self.__correo

  @correo.setter #Propiedad SETTER
  def correo(self, nuevocorreo):
    self.__correo=nuevocorreo
    return self.__correo

  def mostrar(self):
    return "Nombre:" + self.nombre + " - Folio:"+self.folio + " - telefono:" + self.telefono + " - correo " + self.correo

  def checar_taller(self,taller):
    if (taller in self.talleres):
      return f'el usuario {self.nombre} si esta inscrito en el talller de {taller}'
    else:
      return f'el usuario no esta en el taller'

  def jugar(self):
    import time
    print('BINVENIDO ',self.__nombre)
    print('''-------------------------------------------
    -------ADIVINA EL NÚMERO SECRETO-------------
    ---------TIENES 5 OPORTUNIDADES--------------
    ---------------------------------------------''')
    time.sleep(5)
    import random
    numero_secreto = random.randint(1,100)
    num =int(input('Adivina el número secreto'))
    opor = 1
    while numero_secreto != num and opor < 6:
      opor = opor + 1
      if num < numero_secreto:
        print(f'{num} es menor al número secreto')

      else:
        print(f'{num} es mayor al número secreto')
      num =int(input('Adivina el número secreto'))
    if num == numero_secreto:
      print(f'felicidades!!!!!{self.__nombre} has atinado al número en {opor} oportunidades')
    else:
      print(f'lástima!!!!!{self.__nombre} se terminaron tus oportunidades, el número secreto era {numero_secreto}')

In [ ]:
usuario9=Usuario('daniel','dfds','554875485','danielcorreo@correo.com')
usuario9.nombre='jose'
usuario9.mostrar()

In [ ]:
usuario9.jugar()

## Funciones vs métodos
Un método es un tipo específico de función - se comporta como una función y se parece a una función, pero difiere en la forma en que actúa y en su estilo de invocación.

Una función no pertenece a ningún dato - obtiene datos, puede crear nuevos datos y (generalmente) produce un resultado.

Un método hace todas estas cosas, pero también puede cambiar el estado de una entidad seleccionada.

Un método es propiedad de los datos para los que trabaja, mientras que una función es propiedad de todo el código.

Esto también significa que invocar un método requiere alguna especificación de los datos a partir de los cuales se invoca el método.

Nota: el nombre del método está precedido por el nombre de los datos que posee el método. A continuación, se agrega un punto, seguido del nombre del método y un par de paréntesis que encierran los argumentos.

El método se comportará como una función, pero puede hacer algo más - puede cambiar el estado interno de los datos a partir de los cuales se ha invocado.

### CADENAS
count(value) Devuelve el número de veces que se encuentra la busqueda en la cadena. Los parámetros opcionales start y end definen una subcadena en la que buscar.

In [ ]:
  s = "Hola mundo"
  s.count("Hola")

find(sub) Devuelve la posición en la que se encontró por primera vez sub en la cadena o -1 si no se encontró.

In [ ]:
cadenaDeTexto = "Es peor cometer una injusticia que padecerla porque quien la comete se convierte en injusto y quien la padece no."
cadenaDeTexto.find('quien')

join(secuence) Devuelve una cadena resultante de concatenar las cadenas de la secuencia separadas por la cadena sobre la que se llama el método.

In [ ]:
list1 = ['1','2','3','4']
s = "-"
s = s.join(list1)
print(s)

partition(sep) Busca el separador (sep) en la cadena y devuelve una tupla con la subcadena hasta dicho separador, el separador en si, y la subcadena del separador hasta el final de la cadena. Si no se encuentra el separador, la tupla contendrá la cadena en si y dos cadenas vacías.

In [ ]:
nombre = "Juan Gónzalez Pérez"
nombre.partition("Pérez")

replace(old) Devuelve una cadena en la que se han reemplazado todas las ocurrencias de la cadena old por la cadena new. Si se especifica el parámetro count, este indica el número máximo de ocurrencias a reemplazar.

In [ ]:
buscar = "nombre "
reemplazar_por = "Juan Pérez"
print("Estimado Sr. nombre :".replace(buscar, reemplazar_por) )

In [ ]:
 print("si puedes cambiar un dato si le especificas si hay limite :".replace("si", "no",2) )

split() Devuelve una lista conteniendo las subcadenas en las que se divide nuestra cadena al dividirlas por el delimitador sep. En el caso de que no se especifique sep, se usan espacios. Si se especifica maxsplit, este indica el número máximo de particiones a realizar.

In [ ]:
cadena = 'Hola compañeros del taller'
cadena.split()

In [ ]:
cadena = "80Edad:1Edad:20Edad:12Edad:44"
separador = "Edad:"
cadena.split(separador)

In [ ]:
cadena = "Hola mundo estamos explicando el funcionamiento de split en Python"
separador = " "
cadena.split(separador,2)

In [ ]:
palabra='popocatepetl'

letra=input('adivina las letras que componen la palabra secreta')

# Tipos de secuencia y mutabilidad.

Un tipo de secuencia es un tipo de dato en Python el cual es capaz de almacenar más de un valor (o ninguno si la secuencia esta vacía), los cuales pueden ser secuencialmente (de ahí el nombre) examinados, elemento por elemento.

Debido a que el bucle for es una herramienta especialmente diseñada para iterar a través de las secuencias, podemos definirlas de la siguiente manera: una secuencia es un tipo de dato que puede ser escaneado por el bucle for.

Hasta ahora, has trabajado con una secuencia en Python - la lista. La lista es un clásico ejemplo de una secuencia de Python. Aunque existen otras secuencias dignas de mencionar, las cuales se presentaran a continuación.

La segunda noción - la mutabilidad - es una propiedad de cualquier tipo de dato en Python que describe su disponibilidad para poder cambiar libremente durante la ejecución de un programa. Existen dos tipos de datos en Python: mutables e inmutables.

Los datos mutables pueden ser actualizados libremente en cualquier momento - a esta operación se le denomina "in situ".

La función len()

La longitud de una lista puede variar durante la ejecución. Se pueden agregar nuevos elementos a la lista, mientras que otros pueden eliminarse de ella. Esto significa que la lista es una entidad muy dinámica.

Si deseas verificar la longitud actual de la lista, puedes usar una función llamada len() (su nombre proviene de length - longitud).

La función toma el nombre de la lista como un argumento y devuelve el número de elementos almacenados actualmente dentro de la lista (en otras palabras - la longitud de la lista).

In [ ]:
numeros=[111,15,45,78,85]
len(numeros)

### Eliminando elementos de una lista
Cualquier elemento de la lista puede ser eliminado en cualquier momento - esto se hace con una instrucción llamada del (eliminar). Nota: es una instrucción, no una función.

Tienes que apuntar al elemento que quieres eliminar - desaparecerá de la lista y la longitud de la lista se reducirá en uno.

In [ ]:
del numeros[1]
print(len(numeros))
print(numeros)

### Los índices negativos son legales
Puede parecer extraño, pero los índices negativos son válidos, y pueden ser muy útiles.

Un elemento con un índice igual a -1 es el último en la lista.

In [ ]:
numeros = [111, 7, 2, 1]
print(numeros[-1])

Agregando elementos a una lista: append() y insert()
Un nuevo elemento puede ser añadido al final de la lista existente:

In [ ]:
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

###

numbers.append(4)

print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers)

In [ ]:
my_list = []  # Creando una lista vacía.

for i in range(5):
    my_list.append(i + 1)

print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list = []  # Creando una lista vacía.

for i in range(5):
    my_list.insert(0, i + 1)

print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
# Ejercicio
my_list = [10, 1, 8, 3, 5]
total = 0

for i in my_list:
    total += i

print(total)

27

In [ ]:
my_list = [10, 1, 8, 3, 5]

my_list[0], my_list[4] = my_list[4], my_list[0]
my_list[1], my_list[3] = my_list[3], my_list[1]

print(my_list)

[5, 3, 8, 1, 10]

Puedes usar el método sort() para ordenar los elementos de una lista, por ejemplo:

In [ ]:
my_list = [8, 10, 6, 2, 4]
my_list.sort()
print(my_list)

También hay un método de lista llamado reverse(), que puedes usar para invertir

---

la lista, por ejemplo:

In [ ]:
lst = [5, 3, 1, 2, 4]
print(lst)

lst.reverse()
print(lst)  # output: [4, 2, 1, 3, 5]

count(value) Devuelve el número de veces que se encontró un dato en la lista.

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 123]

print("Veces que esta 123 en la lista : ", aList.count(123))
print("Veces que esta zara en la lista : ", aList.count('zara'))

\extend(iterable) Añade los elementos del iterable a la lista.

In [ ]:
notas_musicales = ["Do", "Re", "Mi", "Fa", "Sol", "La"]
notas_musicales.extend("Si")
print(notas_musicales)

In [ ]:
lst = []
word = 'Sample'
lst.extend(word)
print(lst)


diferencia con append

In [ ]:
A = [1, 2]
A.extend([3, 4])
print(A)

In [ ]:
A = [1, 2]
A.append([3, 4])
print(A)

index(value) Devuelve la posición en la que se encontró la primera ocurrencia de value. Si se especifican, start y stop definen las posiciones de inicio y fin de una sublista en la que buscar.

In [ ]:
 versiones = [2.1, 2.5, 3.6, 4, 5, 6, 4]
 print(versiones.index(4))

pop(index) Devuelve el valor en la posición index y lo elimina de la lista. Si no se especifica la posición, se utiliza el último elemento de la lista.

In [ ]:
ciudades = ['New York', 'Dallas', 'San Antonio', 'Houston', 'San Francisco']

print ( "Ciudad removida : ", ciudades.pop() )
print ( "La ciudad en el indice 2 es : ", ciudades.pop(2) )

remove(value) Eliminar la primera ocurrencia de value en la lista, elimina el primer elemento de la lista, cuyo valor es igual al del argumento pasado. Cuando se utiliza este método, normalmente no se sabe o no le importa cuál es el índice del elemento que se va a eliminar.

In [ ]:
names = ['Bob', 'Cindy', 'Noah']
names.remove('Cindy')
print(names)

reverse() Invierte la lista. Esta función trabaja sobre la propia lista desde la que se invoca el método, no sobre una copia.

In [ ]:
list=["cat","dog","bird","insects"]
list.reverse()
print(list)

## Los operadores in y not in
Python ofrece dos operadores muy poderosos, capaces de revisar la lista para verificar si un valor específico está almacenado dentro de la lista o no.

Estos operadores son:


elem in my_list

elem not in my_list

In [ ]:
my_list = [0, 3, 12, 8, 2]

print(5 in my_list)
print(5 not in my_list)
print(12 in my_list)

## Ejercicio
Encuentra el número mayor en la lista

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
to_find = 5
found = False

for i in my_list:
    found = my_list[i] == to_find
    if found:
        break

if found:
    print("Elemento encontrado en el índice", i)
else:
    print("ausente")

https://docs.python.org/3/library/functions.html.

In [ ]:
print("Ingresa un valor: ")
a = int(input())

print("Ingresa un valor: ")
b = int(input())

print("Ingresa un valor: ")
c = int(input())

In [ ]:
def mensaje():
    print("Ingresar valor: ")

mensaje()

In [ ]:
def mensaje():
    print("Ingresar valor: ")

mensaje()
a = int(input())
mensaje()
b = int(input())
mensaje()
c = int(input())

In [ ]:
def mensaje():
    print("Hello")

mensaje()

In [ ]:
def hello(name):
    print("Hello,", name)



hello('juan')

Hello, juan

In [ ]:
def hello(name):
    print("Hello,", name)


name = input("Ingresa tu nombre: ")

hello(name)

In [ ]:
def mensaje(numero):
    print("Ingresa un número:", numero)

mensaje()

In [ ]:
def message(number):   #parametro
    print("Ingresa un número:", number)

message(1) #argumento

In [ ]:
def nombres(primer_nombre, apellido):
    print("Hola, mi nombre es", primer_nombre, apellido)

nombres("Juan", "Pérez")
nombres("Miguel", "Gónzaez")
nombres("Clara", "López")

In [ ]:
def nombres(primer_nombre, apellido):
    print("Hola, mi nombre es", primer_nombre, apellido)

nombres(primer_nombre = "Juan", apellido = "Pérez")
nombres(apellido = "Silvia", primer_nombre = "López")

In [ ]:
def una_funcion():
  a=5*8
  b=10.3+6
  return 123

una_funcion()

In [ ]:
def extraña_funcion(n):
    if(n % 2 == 0):
        return True

print(extraña_funcion(2))
print(extraña_funcion(1))

True
None

In [ ]:
def menu():
    print("App de operaciones.")
    print("1. Suma")
    print("2. Resta")
    print("3. Multiplicacion")
    print("4. Division")
    print("5. Salir")
    op = int(input("Escriba la opcion:"))
    if op==1:
      suma()
    elif op==2:
      resta()
    elif op==3:
      multiplicacion()
    elif op==4:
      division()
    else:
      exit()

In [ ]:
menu()

In [ ]:
def multiple(numero):
  if numero % 5 == 0:
    return True

numeros = [2, 5, 10, 23, 50, 30, 33,35]

filter(multiple, numeros)

In [ ]:
list(filter(multiple, numeros))

In [ ]:
def doble(numero):
    return numero*2

numeros = [2, 5, 10, 23, 50, 33]

map(doble, numeros)

In [ ]:
list(map(doble, numeros)) #para mostrarlo en lista

In [ ]:
frase= 'Hola Luis, como estas?'
def longitud_palabras(frase):
    palabra_len = list(map(len, frase.split()))
    return palabra_len

longitud_palabras(frase)

In [ ]:
from functools import reduce   #traemos el módulo para poder utiliarla

def add(x, y):
    return x + y

lista = [2, 4, 7, 3]
print(reduce(add, lista))

In [ ]:
def suma(x,y):
  return(x + y)

suma(5,7)

In [ ]:
lambda x,y : x+ y

#Para poder utilizarla necesitamos guardarla en una variable
suma = lambda x,y : x + y
suma(5,7)

1 - Realiza un programa que solicite dos números y una operación (suma, resta, división y multiplicación) e imprima el resultado.

Además deberá mostrar un menú con las siguientes opciones:

Mostrar números

Sumar

Restar

Dividir (considerar la división entre 0)

multipicar

cerrar calculadora

In [ ]:
from functools import reduce

# Función para sumar todos los elementos de una lista
def suma(a, b):
    return a + b

In [ ]:
# Ejemplo de uso de reduce
lista = [1, 2, 3, 4, 5]
resultado_reduce = reduce(suma, lista)
print("Resultado de reduce:", resultado_reduce)

In [ ]:
# Función para multiplicar un número por 2
def multiplicar_por_cinco(num):
    return num * 5

In [ ]:
# Ejemplo de uso de map
lista = [1, 2, 3, 4, 5]
resultado_map = list(map(multiplicar_por_dos, lista))
print("Resultado de map:", resultado_map)

In [ ]:
# Función para verificar si un número es par
def es_par(num):
    return num % 2 == 0

In [ ]:

# Ejemplo de uso de filter
lista = [1, 2, 3, 4, 5]
resultado_filter = list(filter(es_par, lista))
print("Resultado de filter:", resultado_filter)

In [ ]:
lista = []
for letra in 'casa':
  lista.append(letra)
print(lista)

In [ ]:
lista = [letra for letra in 'casa']
print(lista)

In [ ]:
lista = []
for numero in range(0,11):
  lista.append(numero**2)
print(lista)

In [ ]:
lista = [numero**2 for numero in range(0,11)]

print(lista)